.snakemake/*
.DS_Store
data/*
logs/*
qc/*
results/*
envs/r-envir/*
envs/var_call_v1/*
envs/var_call_v2/*
test/*
tmp/*
figures/1_read_coverage/chr19_r_coverage.png
figures/1_read_coverage/GC_chr19_11.png
figures/1_read_coverage/GC_chr19_00.png
